<h1>Services</h1>

<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>Service</th>
      <th>Position</th>
      <th>Type</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.service %></td>
        <td><%= service.position %></td>
        <td><%= service.type %></td>
        <td><%= service.category.cat %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path %>
