<p id="notice"><%= notice %></p>

<p>
  <strong>Service:</strong>
  <%= @service.service %>
</p>

<p>
  <strong>Position:</strong>
  <%= @service.position %>
</p>

<p>
  <strong>Type:</strong>
  <%= @service.type %>
</p>

<p>
  <strong>Category:</strong>
  <%= @service.category.category %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
