<p id="notice"><%= notice %></p>

<p>
  <strong>Part:</strong>
  <%= @part.part %>
</p>

<p>
  <strong>Price:</strong>
  <%= @part.price %>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
