<div class="center jumbotron">
  <h1>Welcome to Absolute Suspension Application</h1>

  <h2>
    This is the home page for Absolute Suspension Intranet Application
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>

