<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="field">
      <%= f.label :vehicle_id %><br>
      <%= f.collection_select :vehicle_id, Vehicle.all, :id, :vehicle_info,
                            {prompt: "Select a Vehicle"}%>
    </div>
    <%= f.fields_for :service_lines, ServiceLine.new do |builder| %>
        <%= render 'service_line_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields "Add Service", f, :service_lines %>

    <div class="field">
      <%= f.label :note %><br>
      <%= f.text_field :note %>
    </div>

    <div class="field">
      <%= f.label :TicketStatus_id %><br>
      <%= f.collection_select :TicketStatus_id, TicketStatus.all, :id, :status %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

