<fieldset>

  <%= f.label :category_id, "Category" %>
  <%= collection_select :service_line_id, :category_id, Category.all, :id, :category %>
  <%= f.label :service_id, "Service" %>
  <%= collection_select :service_line_id, :service_id, Service.all, :id, :service %>
  <%= f.label :employee_id, "Employee" %>
  <%= collection_select :service_line_id, :employee_id, Employee.all, :id, :full_name %>
  <%= f.label :hour, "Hour" %>
  <%= f.text_field :hour %>
  <%= f.hidden_field :_destroy %>
  <%= link_to "Remove Service", '#', class: "remove_fields btn btn-danger btn-xs" %>
</fieldset>