<h1>Tickets</h1>

<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>Vehicle</th>
      <th>Customer</th>
      <th>Ticket status</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.vehicle.vehicle_info %></td>
        <td><%= ticket.vehicle.customer.full_name %></td>
        <td><%= ticket.ticket_status %></td>
        <!--<td> ticket.service_lines.category.map(&:category)%></td>-->
        <!--<td> ticket.service_lines.service.map(&:service)%></td>-->
        <!--<td> ticket.service_lines.employee.map(&:full_name)%></td>-->
        <!--<td> ticket.service_lines.map(&:hour)%></td>-->
        <td><%= ticket.note %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
