<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle:</strong>
  <%= @ticket.vehicle.vehicle_info %>
</p>
<p>
  <strong>Customer:</strong>
  <%= @ticket.vehicle.customer.full_name %>
</p>
<% @ticket.service_lines.each do |a|%>
    <p>
      <strong>Category:</strong>
      <%= a.category.category %> <br/>
    </p>
    <p>
      <strong>Service:</strong>
      <%= a.service.service %> <br/>
    </p>
    <p>
      <strong>Employee:</strong>
      <%= a.employee.full_name %> <br/>
    </p>
    <p>
      <strong>Hour</strong>:</strong>
      <%= a.hour %> <br/>
    </p>
  <% end %>
<p>
  <strong>Ticket Status:</strong>
  <%= @ticket.ticket_status %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
