<h1>Ticket Statuses</h1>

<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>Status</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ticket_statuses.each do |ticket_status| %>
      <tr>
        <td><%= ticket_status.status %></td>
        <td><%= ticket_status.description %></td>
        <td><%= link_to 'Show', ticket_status %></td>
        <td><%= link_to 'Edit', edit_ticket_status_path(ticket_status) %></td>
        <td><%= link_to 'Destroy', ticket_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket status', new_ticket_status_path %>
