<h1>Vehicles</h1>

<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>GVW</th>
      <th>License</th>
      <th>Miles</th>
      <th>Motor</th>
      <th>VIN</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.year %></td>
        <td><%= vehicle.make %></td>
        <td><%= vehicle.model %></td>
        <td><%= vehicle.GVW %></td>
        <td><%= vehicle.license %></td>
        <td><%= vehicle.miles %></td>
        <td><%= vehicle.motor %></td>
        <td><%= vehicle.VIN %></td>
        <td><%= vehicle.customer.full_name %></td>
        <td><%= link_to 'Show', vehicle %></td>
        <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
        <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle', new_vehicle_path %>
